* {
  box-sizing: border-box;
}

body{
  color: #ffffff;
  min-height: 100vh;
  background-color: #090510;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to bottom left,
    #2A2A2E 11%,
    #2B125A 47%,
    #000000 85%
  );

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.title{
  margin: 0;
  font-size: 3rem;
}

#filter-box{
  width: 100%;
  padding: 0.75rem;
  color: #3C1F7B;
  font-size: 1.5rem;
  background-color: #CCC2FE;
  border: none;
  border-radius: 0.5rem;
  
}
#filter-box:focus{
  outline: #ffffff solid;
}
#filter-box::placeholder{
  color: #828282;
}

.post-list{
  display: grid;
  gap: 2.5rem;
}

@media only screen and (min-width: 992px) {
  .post-list {
    grid-template-columns: 1fr 1fr;
  }
}

.post-item{
  position: relative;
  padding: 1rem;
  background-color: #7E64FF;
  border-radius: 0.5rem;
}

.post-id{
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #7E64FF; 
  border-radius: 50%; 
  background-color: #3C1F7B;
}